.titulo {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;
}

.titulo>p {
    color: white;
}

.about_game {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
}

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

.amigos {
    margin-top: 10vh;
}

.memories {
    margin-top: 10vh;
}

.structure {
    display: flex;
    width: 60%;
    justify-content: space-between;
}

@media(max-width: 1500px) {
    .structure {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .default {
        margin-top: 2vh;
        margin-bottom: 2vh;
        width: 55vw;
    }
}

.default {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25vw;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.default>p {
    text-align: center;
}

.default>h1 {
    text-align: center;
}

.default_img>img {
    border-radius: 5px;
}

.default>h1 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 2vh;
    font-family: 'Courier New', Courier, monospace;
}

.default>p {
    font-size: clamp(1rem, -0.25rem + 1vw, 2rem);
    line-height: 2.5vh;
    font-family: 'Courier New', Courier, monospace;
}