.hollow_knight {
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.masks {
    display: flex;
    width: 50vw;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

.hollow {
    margin-left: 0.5vw;
}