.pc {
    width: 100vw;
    height: 100vh;
    margin-top: 15vh;
}

.area_de_trabalho {
    display: flex;
    height: 95%;
}

.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
}

.pasta {
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
    margin-top: 2vh;
    align-items: center;
    cursor: pointer;
}

.pasta>p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
}

.window {
    width: 70%;
    height: 92%;
    margin: auto;
    border: 5px solid white;
    border-radius: 2px;
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7%;
    border-bottom: 13px solid white;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.titulo {
    margin-left: 1vw;
}

.control_window {
    display: flex;
    align-items: center;
    height: 100%;
}

.control_default {
    display: flex;
    justify-content: center;
    width: 3vw;
    background-color: white;
    color: black;
    height: 85%;
    margin-right: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.control_default:hover {
    background-color: #c8c4c4;
}

.control_default>p {
    font-size: 64px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.minimize {
    margin-right: 5px;
}

.close {
    align-items: center;
}

.display {
    display: flex;
    height: 93.5%;
    background-image: linear-gradient(to right, #300214, #24000F, #220010);
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.personagem_text {
    background-color: black;
    opacity: 0.8;
    margin-left: 0.5vw;
    height: 45%;
    width: 30vw;
    margin-top: 10vh;
    color: white;
    border-radius: 10px;
}

.personagem_text>p {
    font-size: 26px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sprite {
    margin-left: 1vh;
    margin-bottom: 1vh;
}

.sprite>img {
    border: 5px solid #5F1B34;
}

.personagem {
    margin-left: auto;
    margin-top: auto;
}


/* barra de tarefas */

.barra_de_tarefa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7%;
    border-top: 5px solid white;
}

.app_atual {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 85%;
    width: 10vw;
    border-radius: 3px;
    margin-left: 2px;
    cursor: pointer;
}

.app_atual>p {
    font-size: 32px;
    font-family: 'Courier New', Courier, monospace;
}

.hora_atual {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6vw;
    height: 100%;
    margin-right: 2vw;
}

.hora_atual>p {
    font-size: 32px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.hora {
    margin-right: 1vh;
}